.search-result__component-area{
    margin-bottom: 1vw;
}

.search-result__imgFrame{
    width: 100vw;
}
.search-result__img{
    height: 10vw;
    margin: 1px 2px 1px 2px;
}
.search-result__iframe{
    display: block;
    width: 95vw;
    height: 30vw;
}

.search-result__label {
    display: block;
    margin-bottom: 1.5vh;
}   

.search-result__a{
    text-decoration: none;
    color: black;
}

.search-result__button {
    width: 30vw;
    color: black;
    background-color: white;
    border-radius: 0.3em;
    border: solid black;

    position: sticky;
    bottom: 0;
}

.search-result__ul {
    list-style-type: none;
}

@media (max-width: 700px) {
    .search-result__a{
        font-size: 10px;
        
    }
    .search-result__ul {
        margin-top: 2px;
        padding-left: 0px;
    }

    .search-result__ul li{
        font-size: 10px;
        line-height: 2vh;

    }
    .search-result__imgFrame{
        width: 90vw;
    }
    .search-result__label{
        font-size: 10px;
    }
    .search-result__img {
        height: 25vw;
    }
    .search-result__iframe {
        width: 85vw;
        height: 120vw;
    }
    .search-result__button{
        width: 90vw;

    }

}