.wrap {
  min-height: 100vh;
  font-size: 20px;
  
}

.main {
  position: relative;
  top: 450px;

}

/* Mobile */
@media (max-width: 700px) {

  @keyframes focusAnimation {
    from {
      top: 450px;
    }

    to {
      top: 100px;
    }
  }

  .main {
    top: 450px;

  }

  .main--focus {
    animation-name: focusAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;

  }
}