.background {
  min-height: 100vh;
  
}

.main {
  position: relative;
  top: 450px;

}

.main--focus {
  top: 100px;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    top: 300px;

  }

  .main--focus {
    top: 200px;

  }
}