.search-area{
    width: 600px;
    height: auto;
    
    border-radius: 25px;
    border: 0.5px solid black;

    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;

    margin: 0 auto;
}

.search-area--focus{
    box-shadow: 0px 0px 3px 3px grey;
    padding-bottom: 10px;
}

.search-area__input{
    display: inline;

    width: 520px;
    height: 40px;
    
    border: none;
    outline: none;
}

.search-area__img{
    display: inline;
    width: 27px;
    height: 27px;
    
    margin-left: 10px;
    vertical-align: middle;
}

.suggestion-area{
    text-align: left;
    padding-inline-start: 0px;
    overflow-y: scroll;
    max-height: 600px;
}

.suggestion-area--none{
    display: none;

}

.suggestion-area__bar{
    padding: 10px 0px 20px 0px;
    list-style: none;

}

.suggestion-area__bar--choice{
    background-color: grey;
}

.suggestion-area__span--new{
    color: red;
    background-color: yellow;
    font-weight:bolder;
}

.suggestion-area__thumbnail{
    display: inline;
    vertical-align: middle;
    object-fit: cover;
}

.suggestion-area__title{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.suggestion-area__title--strong{
    background-color: yellow;
}

@media (max-width: 700px) {

    .search-area{
        width: 330px;
        
    }

    .search-area--focus{
        width: 345px;
        padding-left: 3px;
        padding-bottom: 10px;

    }

    .search-area__input{
        width: 250px;

    }

    .suggestion-area{
        text-align: left;
        padding-inline-start: 0px;
        max-height: 500px;
    }

}