.picture-frame__picture{
    display: block;
    height: 95vh;
    margin-bottom: 1vh;

}

.picture-frame__button{
    width: 30vw;
}

@media (max-width: 700px) {
    .picture-frame__picture{
        width: 95vw;
        height: auto;
    
    }

    .picture-frame__button{
        width: 95vw;
    }


}