.picture-frame{
    height: 105vh;
}

.picture-frame__picture{
    display: block;
    height: 75vh;
    margin-bottom: 1vh;

}

.picture-frame__comment-area{
    display: block;
    position: relative;
    height: 9vh;
    overflow: auto;
    
}

.picture-frame__form{
    width: 29.5vw;
    color: black;
    background-color: white;
    border-radius: 0.3em;
    border: solid black;
    display: block;
    position: relative;

}

.picture-frame__button{
    width: 30vw;
    color: black;
    background-color: white;
    border-radius: 0.3em;
    border: solid black;

    position: fixed;
    bottom: 1vh;

}

@media (max-width: 700px) {
    .picture-frame__picture{
        width: 95vw;
        height: auto;

        position: relative;
    
    }

    .picture-frame__button{
        width: 95vw;
    }

    .picture-frame__form{
        width: 93vw;
        bottom: 0vh;
    }

    .picture-frame__form-input{
        display: inline-block;
        position: relative;
        width:75vw;
    }

}
