.picture-frame{
    height: 105vh;
    
}

.picture-frame__title{
    display: block;
    position: relative;
    width: 29.5vw;
    margin: 0 auto;
    text-align: center;
}

.picture-frame__picture{
    display: block;
    height: 75vh;
    margin: 0 auto;
    margin-bottom: 1vh;

}

.picture-frame__comment-area{
    display: block;
    position: relative;
    width: 29.5vw;
    margin: 0 auto;
    
}

.picture-frame__form{
    margin: 0 auto;
    margin-top: 1vh;
    width: 29.5vw;

}

.picture-frame__input{
    width:29vw;
    border-radius: 0.3em;
    border: solid black;
    font-size: 1.0em;
    padding-top: 0.2em;
    
}

.picture-frame__button{
    width: 29.5vw;
    color: black;
    background-color: white;
    margin: 0 auto;
    margin-top: 0.2vh;
    border-radius: 0.3em;
    border: solid black;
    position: relative;
    display: block;

}

.picture-frame__button--delete{
    color: red;
    border-color: red;
}

@media (max-width: 700px) {
    .picture-frame__title{
        width: 95vw;
    }

    .picture-frame__picture{
        width: 95vw;
        height: auto;
        position: relative;
    }

    .picture-frame__comment-area{
        width: 95vw;
    }

    .picture-frame__form{
        width: 95vw;
        bottom: 0vh;
    }

    .picture-frame__input{
        display: block;
        position: relative;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        margin: 0 auto;
        width: 98%;
        
    }

    .picture-frame__button{
        width: 95vw;
    }

}
